/.idea
/.vscode
/vendor/
/node_modules/
.env
env
error_log
*.log
/storage/logs/*.log
/bootstrap/cache/*.php
/public/hot
/public/storage
.DS_Store
Thumbs.db
/cgi-bin/
/.well-known/
sconfig-test.php
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf
storage/app/public/uploads.zip
*.zip
